In [2]:
pd.options.display.max_rows = 500

In [25]:
projects = pd.read_pickle('projects.zip')
projects.head(5)

,name,lang,stars,commits,issues,tags,releases,last_commit,description,url,discarded,software,shared,few_releases,selected
1,vuejs/vue,javascript,172173,3115,9182,250,208,2020-09-16 01:33:45+00:00,"ðŸ–– Vue.js is a progressive, incrementally-adopt...",https://github.com/vuejs/vue,False,True,False,False,True
2,facebook/react,javascript,156004,13577,9569,131,90,2020-09-17 18:57:44+00:00,"A declarative, efficient, and flexible JavaScr...",https://github.com/facebook/react,False,True,False,False,True
3,twbs/bootstrap,javascript,144148,20025,19587,61,61,2020-09-17 17:01:04+00:00,"The most popular HTML, CSS, and JavaScript fra...",https://github.com/twbs/bootstrap,False,True,False,False,True
5,d3/d3,javascript,93717,4277,2052,266,158,2020-09-02 17:08:35+00:00,"Bring data to life with SVG, Canvas and HTML. ...",https://github.com/d3/d3,False,True,False,False,True
6,facebook/react-native,javascript,90145,20985,20126,347,147,2020-09-17 23:06:48+00:00,A framework for building native apps with React.,https://github.com/facebook/react-native,False,True,False,False,True

In [7]:
releases = pd.read_csv('releases.csv')
releases = releases.set_index(['project', 'name'])
releases.head(5)

                        lang                                      head  \
project   name
vuejs/vue 0.6.0   javascript  218557cdec830a629252f4a9e2643973dc1f1d2d
          v0.7.0  javascript  f4861ca9905a170b9a4b185e8a2038dc7c11c58e
          v0.7.1  javascript  590a7ee55b655f166ecdf8e7a5e22dab7a9e6dd7
          v0.7.2  javascript  e78fb82212ac229c91fc8b1f09a84b24f577541a
          v0.7.3  javascript  dcc839a4314de8825f7087f00c4e40ea2d22b46f

                                       time  commits base_releases  \
project   name
vuejs/vue 0.6.0   2013-12-08 00:32:17+00:00      354            []
          v0.7.0  2013-12-24 03:31:05+00:00       34     ['0.6.0']
          v0.7.1  2013-12-24 21:58:33+00:00        6    ['v0.7.0']
          v0.7.2  2013-12-28 05:43:40+00:00        3    ['v0.7.1']
          v0.7.3  2014-01-06 19:13:12+00:00       15    ['v0.7.2']

                  range_commits range_base_releases  range_tpos  range_fpos  \
project   name
vuejs/vue 0.6.0             354                  []         354           0
          v0.7.0             34           ['0.6.0']          34           0
          v0.7.1              6          ['v0.7.0']           6           0
          v0.7.2              3          ['v0.7.1']           3           0
          v0.7.3             15          ['v0.7.2']          15           0

                  range_fneg  time_commits time_base_releases  time_tpos  \
project   name
vuejs/vue 0.6.0            0           354                 []        354
          v0.7.0           0            34          ['0.6.0']         34
          v0.7.1           0             6         ['v0.7.0']          6
          v0.7.2           0             3         ['v0.7.1']          3
          v0.7.3           0            15         ['v0.7.2']         15

                  time_fpos  time_fneg  range_precision  range_recall  \
project   name
vuejs/vue 0.6.0           0          0              1.0           1.0
          v0.7.0          0          0              1.0           1.0
          v0.7.1          0          0              1.0           1.0
          v0.7.2          0          0              1.0           1.0
          v0.7.3          0          0              1.0           1.0

                  time_precision  time_recall
project   name
vuejs/vue 0.6.0              1.0          1.0
          v0.7.0             1.0          1.0
          v0.7.1             1.0          1.0
          v0.7.2             1.0          1.0
          v0.7.3             1.0          1.0

Number of projects:

In [23]:
releases.groupby(level=0).count().shape

(100, 19)

Stars

14126

In [80]:
prj_lang_grp = projects.groupby('lang')
rl_lang_grp = releases.groupby('lang')
summary = pd.DataFrame(index=prj_lang_grp.count().index)
summary['mean stars'] = prj_lang_grp.mean()['stars']
summary['std stars'] = prj_lang_grp.std()['stars']
summary['total stars'] = prj_lang_grp.sum()['stars']
summary['total commits'] = rl_lang_grp.sum()['commits']
summary['total releases'] = releases.reset_index('name').groupby('lang').count()['name']
summary

,mean stars,std stars,total stars,total commits,total releases
lang,,,,,
c,18616.5,11128.381746,186165,133067,1029
c#,10194.2,3437.638072,101942,65182,574
c++,41620.0,17913.174829,416200,170450,1009
go,30997.6,7298.282297,309976,97610,1245
java,34380.3,10508.704139,343803,175624,1020
javascript,96179.0,44813.617291,961790,188166,1917
php,23337.6,13874.092837,233376,129167,2088
python,45548.7,11304.913396,455487,173883,2294
ruby,17633.1,7008.721954,176331,134434,1230
typescript,43895.5,13858.835090,438955,150591,1720

Commits

In [81]:
pd.DataFrame(summary.sum()).T

   mean stars     std stars  total stars  total commits  total releases
0    362402.5  141146.36165    3624025.0      1418174.0         14126.0

In [89]:
x = pd.DataFrame(summary.mean()).T
x.index = ['sum']
x
summary.append(x)

,mean stars,std stars,total stars,total commits,total releases
c,18616.50,11128.381746,186165.0,133067.0,1029.0
c#,10194.20,3437.638072,101942.0,65182.0,574.0
c++,41620.00,17913.174829,416200.0,170450.0,1009.0
go,30997.60,7298.282297,309976.0,97610.0,1245.0
java,34380.30,10508.704139,343803.0,175624.0,1020.0
javascript,96179.00,44813.617291,961790.0,188166.0,1917.0
php,23337.60,13874.092837,233376.0,129167.0,2088.0
python,45548.70,11304.913396,455487.0,173883.0,2294.0
ruby,17633.10,7008.721954,176331.0,134434.0,1230.0
typescript,43895.50,13858.835090,438955.0,150591.0,1720.0
sum,36240.25,14114.636165,362402.5,141817.4,1412.6

In [ ]:
releases.reset_index('name').groupby('lang').count()['name'].sum()