# Results
This notebook show the paper results

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import re

In [171]:
FIGDIR = "../paper/figs/"

In [2]:
%matplotlib widget

In [6]:
#%matplotlib widget
%matplotlib inline

In [3]:
projects = pd.read_pickle('projects.zip')
releases = pd.read_pickle('releases.zip')

## Histogram of releases

In [26]:
np.arange(0,121)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120])

In [142]:
max = releases["commits"].max()

In [172]:
#fig, (ax1,ax2) = plt.subplots(2,1, sharex=True)

fig = plt.figure()
gs = fig.add_gridspec(4, 1, hspace=0, wspace=0)

ax_hist = fig.add_subplot(gs[0:3, :])
releases.hist(['commits'], ax=ax_hist, bins=np.arange(0,140))
ax_hist.set_xlim((0,140))
ax_hist.set_xticks(np.arange(0,141,10))
ax_hist.set_xticklabels([])
ax_hist.set_yticks(np.arange(0,1001,100))
ax_hist.set_ylabel("commits")

#ax_hist_out = fig.add_subplot(gs[0:3, -1])
#releases.hist(['commits'], ax=ax_hist_out, bins=np.arange(140,1000))
#ax_hist_out.set_xlim((140,max))
#ax_hist_out.set_yticks(np.arange(0,1001,100))
#ax_hist_out.set_yticklabels([])


ax_box = fig.add_subplot(gs[-1, :])
releases.boxplot(['commits'], ax=ax_box, vert=False, showfliers=False)
ax_box.set_xlim((0,140))
ax_box.set_xticks(np.arange(0,141,10))
ax_box.set_yticklabels([])
ax_box.set_xlabel("number of commits in release")

#ax_box_out = fig.add_subplot(gs[-1, -1])
#releases.boxplot(['commits'], ax=ax_box_out, vert=False, showfliers=True)
#ax_box_out.set_xlim((140,max))

ax_hist.set_title("")
fig.savefig(FIGDIR+'release_histogram')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

## Number of releases

In [173]:
len(releases)

15911

In [176]:
releases.commits.median()

17.0

In [178]:
len(releases[releases.commits <= 17])/len(releases)

0.5075105273081516

In [37]:
len(releases[releases.commits < 140])/len(releases)

0.875306391804412

In [11]:
len(releases[releases.commits == 0])

822

In [167]:
releases.commits.max()

23385

In [186]:
releases.groupby('lang').mean()[['range_precision','range_recall','time_precision', 'time_recall']].round(3)*100

            range_precision  range_recall  time_precision  time_recall
lang
c                      88.6          98.5            46.2         85.0
c#                     74.6          83.0            39.2         74.4
c++                    98.3          99.7            44.2         87.2
go                     96.8          98.2            61.8         89.5
java                   95.2          97.1            44.9         85.7
javascript             82.1          84.1            49.0         77.2
php                    86.5          99.6            46.1         91.4
python                 98.9          99.6            63.6         91.9
ruby                   70.0          81.1            41.4         71.9
typescript             96.1          97.9            56.0         87.9

In [188]:
releases.groupby('lang').median()[['commits','range_commits','time_commits']].astype(int)

            commits  range_commits  time_commits
lang
c                30             34           110
c#               24             28           124
c++              21             21            95
go               14             14            31
java             28             30            61
javascript       19             27            53
php              16             20            43
python           13             13            23
ruby             13             19            49
typescript       19             20            51

In [189]:
releases.mean()[['range_precision','range_recall','time_precision', 'time_recall']].round(3)*100

<ipython-input-189-23f9a3136a0b>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  releases.mean()[['range_precision','range_recall','time_precision', 'time_recall']].round(3)*100

range_precision    87.7
range_recall       93.3
time_precision     50.5
time_recall        84.1
dtype: float64

In [190]:
releases.median()[['commits','range_commits','time_commits']].astype(int)

<ipython-input-190-e9f975d786a8>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  releases.median()[['commits','range_commits','time_commits']].astype(int)

commits          17
range_commits    20
time_commits     47
dtype: int32

In [202]:
pd.DataFrame([
    releases[releases.commits <= releases.commits.median()][['range_precision','range_recall','time_precision', 'time_recall']].mean(),
    releases[releases.commits > releases.commits.median()][['range_precision','range_recall','time_precision', 'time_recall']].mean()
])

   range_precision  range_recall  time_precision  time_recall
0         0.818787      0.884520        0.414498     0.854490
1         0.936914      0.982633        0.598356     0.826895